.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif+Display:wght@300&display=swap');

@font-face {

  font-family: 'agrandir';
  src: url("./fonts/Agrandir-Regular.otf");
}




/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width:479px) {


  .App{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 1fr);
  }

  html{

    height: 100%;
    margin: 0;
    padding: 0;
  }

  body, #root, #test, .App{

    height: 100%;

  }
  *{
    margin: 0;
    padding: 0;
  }
   
  
  
  ul.nav {

    display: none;
  
  
    grid-column: 3 / 12;
    justify-self: center;
    align-self: end;
  
  }
  
  ul.nav>li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
  }
  
  ul.nav>li:hover {
    background-color: #8f2525;
  }
  
  ul.nav>li>a {
    color: white;
    text-decoration: none;
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  
  * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  

  
  
  
  #header {
  
    font-size: 1rem;
    text-align: left;
    align-content: left;
    margin-left: 5vw;
    margin-top: 1vw;
  }
  
  
  .App-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #800020;
  
    height: 8rem;
  
    display: grid;
  
    grid-template-columns: repeat(12, 1fr);
  
  
    color: white;
  }
  
  .pageHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #800020;
  
    height: 5rem;
  
    display: grid;
  
    grid-template-columns: repeat(13, 1fr);
  
  
    color: white;
  }
  
  #contactInfoHome {
  
    font-size: 0.55rem;
    grid-column: 9/13;
    align-self: start;
    text-align: right;
    position: relative;
    right: 0.2rem;

  
  
  }
  
  .contactInfoPage {
  
    font-size: 0.5rem;
    grid-column: 10/14;
    text-align: right;
    position: relative;
    right: 0.5rem;
  
  }
  
  
  #homepageHeaderMessage {
  
  
    grid-column: 3/12;
    font-size: 0.6rem;
    justify-self: center;
    align-self: center;
    position: relative;
  
  
  }
  
  #aboutMe {
    font-size: 0.7rem;
    grid-column: 10 / 13;
    text-align: right;  
    align-self: end;
    position: relative;
    right: 0.2rem;
    bottom: 0.2rem;
  
  }
  
  
  #homepageLogo {
  
    position: absolute;
    left: 0.5rem;
    align-self: center;
    grid-column: 1 / 9;
    width: 14rem;
    height: 14rem;
  
  }
  
  .pageLogo {
  
    grid-column: 1 / 7;
    grid-row: 1/ 2;
    align-self: center;
    height: 8.5rem;
    width: 8.5rem;
    position: absolute;
    left: 0.2rem;
  
  
  }
  
  
  
  #emphasizedEnjoy {
  
    font-size: 60px;
    font-weight: 800;
  }
  
  #developmentMessage {
  
    font-size: 25px;
  
  }
  
  #pageBody {

    height: 100%;
    grid-column: 1/13;
    grid-row: 4/15;

  }

  #bodyGridContainer{

    display: grid;
    height: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 7.142857142857143%);

  }

  .bodyRow1{


    grid-row: 3/8;

  }

  .bodyRow2{

    grid-row: 9/14;
  }

  .bodyColumn1{
    grid-column: 2 / 5;

  }

  .bodyColumn2{
    grid-column: 7 / 10;
  }

  #careMessage {
  
    grid-row: 1 / 2;
    grid-column: 1 / 10;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 3rem;
    text-align: left;
    position: relative;
    left: 1rem;
    top: 0.2rem;
    color: rgb(90, 88, 88);
  
  }

  .homepageOption{

    grid-column: 2 / 3;

  }
  
  button {
  
    width: 7rem;
    height: 4rem !important;
    font-weight: 600;
    border-radius: 40%;
  
  }
  


    
  form {
  
    grid-column: 2 / span 10;
  
    grid-row: 8/12;
    border-style: solid;
    align-self: start;
    height: 100%;
  }
  

  .formHeader {
    top: 1rem;
    width: 100%;
    background-color: #389979;
    height: 20%;
    color: white;
    margin-bottom: 1vh;
  
    font-size: 1.5rem;
    text-align: center;


  }

  /* Form row titles */
  h2 {
  
  
    font-size: 1.1rem !important;
    font-weight: 400 !important;
  
  
  }

  .formSegment {
    margin-top: 0.5rem;
  }
  
  .formSegmentContainer {
  
    margin-left: 0.3rem;
  }

  input {
  
  
    width: 7rem;
    height: 1.5rem;
    border-width: 1.5px;
    border-style: solid;
    margin-left: 5px !important;
    margin-top: 3px !important;
    font-size: 1rem;
  }

  
  .submitButton {
  
    width: 3.5rem;
    height: 2.5rem !important;
    border-radius: 0%;
    position: relative !important;
  
    float: right;
    position: relative;
    bottom: 0.8rem;
    right: 0.6rem;
  
  }

  .altFont{
    font-size: 0.7rem;
  }
  
  
  .image {
  
    width: 7rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1vw;
  
    border-radius: 100%;
  
  }
  
  .column {
  
    justify-content: center;
    align-content: center;
  
  }
  
  
  #zip {
  
    width: 3.5rem;
  }
  
  
  
  /* Page titles */
  h3 {
  
    font-size: 1rem !important;
    font-weight: 700 !important;
  
  }

  .gridContainer {
  
    height: 100%;
    display: grid;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

  }
  
  
  .careObjectives {
  
    padding-bottom: 1vh;
  
    font-size: 1rem;
  
    grid-column: 2 / 12;
    grid-row: 3 / 8;
  }
  
  .careObjectivesList {
  
    margin-left: 1.5vw;
    margin-top: 1.3vh;
  }
  
  .careObjectivesList>li {
  
    margin-top: 2vh;
  
  }
  
  #loginComponent {
  
  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  
  }
  
 
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


  


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }


  .formHeader {
    top: 0;
    width: 100%;
    background-color: #389979;
    min-height: 9vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 1vh;
  
    font-size: 2.5rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  ul.nav {
  
  
    grid-column: 3 / 12;
    justify-self: center;
    align-self: end;
  
  }
  
  ul.nav>li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
  }
  
  ul.nav>li:hover {
    background-color: #8f2525;
  }
  
  ul.nav>li>a {
    color: white;
    text-decoration: none;
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  

  
  .gridContainer {
  
    height: 100vh;
    display: grid;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
  
  }
  
  
  
  
  
  #header {
  
    font-size: 50px;
    text-align: left;
    align-content: left;
    margin-left: 5vw;
    margin-top: 1vw;
  }
  
  
  .App-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #800020;
  
    height: 12rem;
  
    display: grid;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
  
  
    color: white;
  }
  
  .pageHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #800020;
  
    height: 7.3rem;
  
    display: grid;
  
    grid-template-columns: repeat(13, 1fr);
  
  
    color: white;
  }
  
  #contactInfoHome {
  
    font-size: 1.3rem;
    grid-column: 12/13;
    grid-row: 1/2;
    align-self: start;
    text-align: right;
    padding-right: 1.1rem;
  
  
  }
  
  .contactInfoPage {
  
    font-size: 1.3rem;
    grid-column: 11/14;
    grid-row: 1/2;
    padding-right: 1.1rem;
    text-align: right;
  
  }
  
  
  #homepageHeaderMessage {
  
  
    grid-column: 3/12;
    grid-row: 1/3;
    font-size: 2.9rem;
    justify-self: center;
    align-self: center;
    position: relative;
  
  
  }
  
  #aboutMe {
    font-size: 1.5rem;
  
    grid-column: 12 / 13;
    grid-row: 1/2;
    text-align: right;
    padding-right: 1.1rem;
    padding-bottom: 0.2rem;
  
    align-self: end;
    position: relative;
  
  }
  
  
  #homepageLogo {
  
    position: absolute;
    left: 1rem;
    grid-column: 1 / 4;
    grid-row: 1/2;
    width: 22rem;
    height: 22rem;
    align-self: center;
    
  
  }
  
  .pageLogo {
  
    grid-column: 1 / 4;
    grid-row: 1/ 2;
    align-self: center;
    height: 15rem;
    width: 15rem;
    position: absolute;
    bottom: -6.7rem;
    left: 0.2rem;
  
  }
  
  
  
  #emphasizedEnjoy {
  
    font-size: 60px;
    font-weight: 800;
  }
  
  #developmentMessage {
  
    font-size: 25px;
  
  }
  
  #pageBody {
    margin-top: 35vh;
  }

  #bodyGridContainer{

    display: grid;
    height: 55vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 1fr);

  }

  .bodyRow1{


    grid-row: 3/10;

  }

  .bodyRow2{

    grid-row: 3/10;

  }



  .bodyColumn1Landscape{
    grid-column: 2 /4;
  }

  .bodyColumn2Landscape{
    grid-column: 4 /6;
  }
  .bodyColumn3Landscape{
    grid-column: 6 / 8;
  }
  .bodyColumn4Landscape{
    grid-column: 8 / 10;
  }

  #careMessage {
  
    grid-column: 2/10;
    grid-row: 1 / 2;
    font-size: 40px;
    margin-bottom: 3rem;
    font-weight: 800;
    text-align: left;
    color: rgb(90, 88, 88);
  
  }
  
  
  button {
  
    width: 230px;
    height: 400px;
    font-weight: 600;
    border-radius: 40%;
  
  }
  
  .button {
  
    background-color: seagreen;
  }

  
  .submitButton {
  
    width: 70px;
    height: 40px;
    border-radius: 0%;
    position: relative !important;
  
    float: right;
    position: relative;
    bottom: 0.8vh;
    right: 0.6vw;
  
  }
  
  form {
  
    grid-column: 4 / span 4;
  
    grid-row: 10/15;
    border-style: solid;
    align-self: start;
  }
  
  .formSegment {
    margin-top: 1.5vh;
  }
  
  .formSegmentContainer {
  
    margin-left: 1vw;
  }
  
  .image {
  
    width: 18rem;
    height: 18rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1vw;
  
    border-radius: 100%;
  
  }
  
  .column {
  
    justify-content: center;
    align-content: center;
  
  }
  
  input {
  
  
    width: 12rem;
    height: 2rem;
    border-width: 1.5px;
    border-style: solid;
    margin-left: 5px !important;
    margin-top: 3px !important;
    font-size: larger;
  }
  
  #zip {
  
    width: 5vw;
  }
  
  
  /* Form row titles */
  h2 {
  
  
    font-size: 1.5rem !important;
    font-weight: 400 !important;
  
  
  }
  
  /* Page titles */
  h3 {
  
    font-size: 1.9rem !important;
    font-weight: 700 !important;
  
  }
  
  
  .careObjectives {
  
    padding-bottom: 5vh;
  
    font-size: 1.5rem;
  
    grid-column: 4 / 9;
    grid-row: 4 / 8;
  }
  
  .careObjectivesList {
  
    margin-left: 1.5vw;
    margin-top: 1.3vh;
  }
  
  .careObjectivesList>li {
  
    margin-top: 2vh;
  
  }
  
  #loginComponent {
  
  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  
  }
  
  #formTable {
  
  
    grid-column: 2 / 13;
  
    grid-row: 3;
  
  
  }

  

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}